html,body {
    margin:0;
    padding:0;
    height:100%;
}

nav{
	margin: 0;
	padding: 0;
	height: auto;
	min-height: 10%;
	color: #898989;
	background: #f3f3f3;
	display: block;
}

section{
	margin: 0;
	padding: 0;
	height: 90%;
}

.subject{
	display:flex;
    align-items: center;
    justify-content: center;
}

h1{
	font-family: 'Bangers';
	color: #FFF;	
    vertical-align: middle;
}

h2{
	font-family: 'Poiret One';
	font-weight: bold;
    vertical-align: middle;
}


.col-sm-6, .col-sm-4, .col-sm-3{
	height: 50%;
	-o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.1s;
    -webkit-transition:.3s;
}

.cpp{
	background: #7B1FA2;
}

.bb{
	background: #E64A19;
}

.kadane{
	background: #00796B;
}

.back{
	background: #0097A7;
}

.greedy{
	background: #FFA000;
}

.grafos{
	background: #455A64;
}

