html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

#side-bar{
	position: fixed;
	height: 100%;
	background: #7B1FA2;
	padding-bottom: -9999px;
	margin-bottom: 9999px;

	-o-transition:.5s all ease;
    -ms-transition:.5s all ease;
    -moz-transition:.5s all ease;
    -webkit-transition:.5s all ease;
}

#topic{
	width: 100%;
	color: #FFF;
	padding-bottom: 5%;
	border-bottom: 1px solid #BDBDBD;
}

#topic img{
	width: 50%;
	display: block;
    margin: 2% auto;
}

#topic h3{
	font-family: 'Poiret One';

	-o-transition:.5s all ease;
    -ms-transition:.5s all ease;
    -moz-transition:.5s all ease;
    -webkit-transition:.5s all ease;
}

#content-aux, #content{
	-o-transition:.5s all ease;
    -ms-transition:.5s all ease;
    -moz-transition:.5s all ease;
    -webkit-transition:.5s all ease;
}

#content h1{
	font-family: 'Antic';
}

#content h2{
	font-family: 'Poiret One';
}

#content hr{
	height: 2px;
}

pre{
	background: transparent;
	border: none;
}

#menu li, #menu li a, #menu li a:hover, #menu li a:visited{
	list-style: none;
	text-decoration: none;
	font-family: 'Poiret One';
	color: #FFF;
	font-size: 20px;
	border: none;
	padding: 5% 0;
}

#menu li hr{
	width: 0px;
	margin: 0;
	-o-transition:.5s all ease;
    -ms-transition:.5s all ease;
    -moz-transition:.5s all ease;
    -webkit-transition:.5s all ease;
}

